<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>
  <h2>Hot Albums</h2>
  <hr>
  <h1><%= album.title %></h1>
  <hr>
  <% if(userName.length > 0){ %>
    <a class="link2" href="/">Home</a>
    <a class="link1" href="/profile">Profile</a>
    <a class="link3" href="/logout">Logout</a>
  <% }else{ %>
    <a class="link2" href="/">Home</a>
    <a class="link1" href="/login">Sign-In</a>
    <a class="link3" href="/signup">Sign-Up</a>
  <% } %>
  <em>by <%= album.artist %></em>
  <%= album.id %>

  <a href="/album/<%= album.id %>/review">Add A Review</a>
  <hr>
  <h2>Reviews</h2>
  <div class="album-review">
    <% for(var i = 0; i < reviews.length; i++){ %>
      <div>
        <span><strong>review:&nbsp</strong><%= reviews[i] %>&nbsp <strong>username:&nbsp<%= userNames[i] %></strong></span>
      </div>
      <hr>
      <% } %>
  </div>
</body>
</html>
